.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 0px;
}
.contact{
    height: 100vh;
    background: rgb(195,231,232);
    background: linear-gradient(230deg, rgba(195,231,232,1) 10%, rgba(214,202,228,1) 37%, rgba(230,177,224,1) 60%, rgba(250,183,147,1) 90%); 
    color:#1dba9e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h1{
    text-transform: uppercase;
}
.subtitle{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
.media-title{
    margin-top: 50px;
}
@media(max-width: 768px){
    .contact{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 75px;
    }
    .subtitle{
        text-align: center;
        line-height: 30px;
    }
}