.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 0px;
}
.contact{
    height: 100vh;
    background: #eaeaea;
    color:#111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h1{
    text-transform: uppercase;
    font-weight: 700;
    
}
.subtitle{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    color: #333;
}
p{
    font-weight: 600;
    color: #333;
}
a{
    color: #facf0f;
}
.media-title{
    /* margin-top: 50px; */
    font-weight: 700;
    color: #333;
    
}
@media(max-width: 768px){
    /* .contact{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .mainWrapper{
        /* display: flex; */
       /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        width: 90%;
        /* margin-top: 75px; */
    }
    .subtitle{
        text-align: center;
        line-height: 30px;
    }
}