.forms {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
}
textarea {
  resize: none;
  height: 130px;
}

@media (max-width: 768px) {
  .forms {
    width: 80%;
    margin-top: 30px;
  }
  textarea {
    resize: none;
    height: 130px;
  }
}
