.header-wrapper {
    position: relative;
    background: #EAEAEA;
    background-image: linear-gradient(to right,rgba(245,245,245,.7),rgba(245,245,245,.7)), url(./bgs.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.main-info h1 {

    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.typed-text {
    font-size: 2rem;
    color: #333;
    margin: 20px 0;
}

@media(max-width: 768px) {
    .header-wrapper {
        height: 100vh;
    }

    .typed-text {
        font-size: 1.3rem !important;
    }
}

.btn {
    background: #facf0f;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    padding: 1rem 4rem;
    font-size: 1rem;
}

.btn:hover {
    text-decoration: none;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    transition: 0.3s ease-in-out;
}