:root{
    --primary-red: #5589e2;
    --primary-hover-red: #5589e2;
    --primary-orange: #1dba9e;
    --primary-white: #fff;
}
.header-wrapper{
    position: relative;
    background: rgb(195,231,232);
    background: linear-gradient(150deg, rgba(195,231,232,1) 0%, rgba(230,177,224,1) 50%, rgba(250,183,147,1) 100%); 
    background-size: cover;
    background-position: center;
    height: calc(100vh - 59px);
}
.main-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.main-info h1{
    color: var(--primary-orange);
    text-transform: uppercase;
}
.typed-text{
    font-size: 2rem;
    color: var(--primary-white);
}
@media(max-width: 768px){
    .header-wrapper{
        height: calc(100vh - 56px);
    }
    .typed-text{
        font-size: 1.3rem !important;
    }
}
.btn-main{
    border: 1px solid  var(--primary-red);
    border-radius: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 12px 12px 12px;
    color: var(--primary-white);
    margin: 2rem;
}
.btn-main:hover {
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: 0.2s ease-in-out;
}