.header-wrapper{
    position: relative;
    background: rgb(195,231,232);
    background: linear-gradient(150deg, rgba(195,231,232,1) 0%, rgba(230,177,224,1) 50%, rgba(250,183,147,1) 100%); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* height: calc(100vh - 59px); */
}
.main-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.main-info h1{
    color: #1dba9e;
    text-transform: uppercase;
}
.typed-text{
    font-size: 2rem;
    color: white;
}
@media(max-width: 768px){
    .header-wrapper{
        height: 100vh;
    }
    .typed-text{
        font-size: 1.3rem !important;
    }
}
.btn{
    border: 2px solid#5589e2;
    border-radius: 14px;
    text-transform: uppercase;
    padding: 10px 12px 12px 12px;
    color: #5589e2;
    margin: 2rem;
    background: white;
}
.btn:hover {
    text-decoration: none;
    background-color: #5589e2;
    border: 2px solid white;
    color: white;
    transition: 0.2s ease-in-out;
}