@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    font-family: "Varela Round";
}
@media(max-width: 768px){
    .particles-canvas {
        display: none;
    }
    .main-info h1{
        font-size: 1.7rem !important;
    }
}

